@use "../abstracts/" as *;

body {
  font-family: $ff-default;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 900);
  line-height: 1.5;
  //   display: grid;
  //   grid-template-rows: auto 1fr auto;
}

.heading {
  line-height: 1.1;
  font-family: $ff-accent;
  font-weight: 400;
  color: clr(primary, 500);

  .clr-neutral-100 & {
    color: clr(neutral, 100);
  }
}
