// font-families
$ff-sans: "Open Sans", sans-serif;

$font-sizes: (
  900: 3.75rem,
  800: 3rem,
  600: 1.5rem,
  500: 1.3125rem,
  400: 1.125rem,
);

// font-weights
$fw-400: 400;
$fw-700: 700;

// for utility class generation
$font-weights: (400, 700);

$fw-regular: 400;
$fw-bold: 700;
